<ion-header>
  <ion-navbar>
    <ion-title>
       Login Application
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>

  <ion-item>
    <ion-label fixed>NAME</ion-label>
    <ion-input type="text" #name value=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label fixed>ADDRESS</ion-label>
    <ion-input type="text" #address value=""></ion-input>
  </ion-item>
  </ion-list>

<ion-list>
   <ion-list-header>SEX</ion-list-header> 

 <ion-item>
	 <ion-label>MALE</ion-label>
    <ion-radio value="male"></ion-radio>
</ion-item>

<ion-item>
    <ion-label>FEMALE</ion-label>
    <ion-radio value="female"></ion-radio>
</ion-item>
</ion-list>
  
  <ion-list>
  <ion-item>
    <ion-label>STATE</ion-label>
    <ion-select [(ngModel)]="state">
      <ion-option value="agra">U.P</ion-option>
      <ion-option value="delhi">DELHI</ion-option>
      <ion-option value="bihar">BIHAR</ion-option>
    </ion-select>
  </ion-item>
</ion-list>

<div padding>
  <button block ion-button (click)="launchDiaplayPage()">Sign In</button>
</div>

</ion-content>
